In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test4').getOrCreate()

In [9]:
spark

In [10]:
df = spark.read.csv('pysparkex.csv', header=True, inferSchema=True)

In [11]:
spark.read.csv('pysparkex.csv', header=True, inferSchema=True).show()

+------+------------+------+
|  Name|  Department|Salary|
+------+------------+------+
|   Dan|       AI/ML| 85000|
|Drake |Data Science| 80000|
|  Remy|    Big Data| 65000|
|Ashley|       AI/ML| 75000|
|  Tana|Data Science| 96000|
|Johnny|    Big Data|100000|
|Connor|Data Science| 99000|
| James|         IoT| 75500|
|Hudson|       AI/ML| 88000|
| Steve|         IoT| 93000|
+------+------------+------+

In [12]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
#group by
df.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [15]:
df.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
| Steve|      93000|
| James|      75500|
|Hudson|      88000|
|Drake |      80000|
|Ashley|      75000|
|Connor|      99000|
|   Dan|      85000|
|  Remy|      65000|
|Johnny|     100000|
|  Tana|      96000|
+------+-----------+

In [16]:
#group by departments which gives max salary
df.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IoT|     168500|
|    Big Data|     165000|
|       AI/ML|     248000|
|Data Science|     275000|
+------------+-----------+

In [17]:
df.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IoT|          84250.0|
|    Big Data|          82500.0|
|       AI/ML|82666.66666666667|
|Data Science|91666.66666666667|
+------------+-----------------+

In [18]:
df.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IoT|    2|
|    Big Data|    2|
|       AI/ML|    3|
|Data Science|    3|
+------------+-----+

In [19]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     856500|
+-----------+

In [20]:
df.groupBy('Name').max().show()

+------+-----------+
|  Name|max(Salary)|
+------+-----------+
| Steve|      93000|
| James|      75500|
|Hudson|      88000|
|Drake |      80000|
|Ashley|      75000|
|Connor|      99000|
|   Dan|      85000|
|  Remy|      65000|
|Johnny|     100000|
|  Tana|      96000|
+------+-----------+

In [24]:
df.agg({'Salary':'max'}).show()

+-----------+-----------+
|max(Salary)|count(Name)|
+-----------+-----------+
|     100000|         10|
+-----------+-----------+

In [25]:
df.groupBy('Name').min().show()

+------+-----------+
|  Name|min(Salary)|
+------+-----------+
| Steve|      93000|
| James|      75500|
|Hudson|      88000|
|Drake |      80000|
|Ashley|      75000|
|Connor|      99000|
|   Dan|      85000|
|  Remy|      65000|
|Johnny|     100000|
|  Tana|      96000|
+------+-----------+