In [83]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test2').getOrCreate()

In [84]:
spark

In [85]:
##read dataset
spark.read.option('header','true').csv('pysparkex.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [86]:
df_pys = spark.read.option('header','true').csv('pysparkex.csv')

In [87]:
##check schema
df_pys.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [88]:
df_pys=spark.read.csv('pysparkex.csv', header=True, inferSchema=True)
df_pys.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|   Dan| 24|        10|
|Drake | 25|         8|
|  Remy| 33|         4|
|Ashley| 21|         2|
|  Tana| 70|         7|
|Johnny| 19|         5|
|Connor| 38|         9|
+------+---+----------+

In [89]:
df_pys.columns

['Name', 'Age', 'Experience']

In [90]:
df_pys.head(3)

[Row(Name='Dan', Age=24, Experience=10),
 Row(Name='Drake ', Age=25, Experience=8),
 Row(Name='Remy', Age=33, Experience=4)]

In [91]:
df_pys.select('Name')

DataFrame[Name: string]

In [92]:
df_pys.select('Name').show()

+------+
|  Name|
+------+
|   Dan|
|Drake |
|  Remy|
|Ashley|
|  Tana|
|Johnny|
|Connor|
+------+

In [93]:
df_pys.select(['Name', 'Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|   Dan|        10|
|Drake |         8|
|  Remy|         4|
|Ashley|         2|
|  Tana|         7|
|Johnny|         5|
|Connor|         9|
+------+----------+

In [94]:
df_pys['Name']

Column<'Name'>

In [95]:
df_pys.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [96]:
df_pys.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [97]:
df_pys.describe().show()

+-------+------+------------------+-----------------+
|summary|  Name|               Age|       Experience|
+-------+------+------------------+-----------------+
|  count|     7|                 7|                7|
|   mean|  null|32.857142857142854|6.428571428571429|
| stddev|  null| 17.69584293394517|2.878491668515698|
|    min|Ashley|                19|                2|
|    max|  Tana|                70|               10|
+-------+------+------------------+-----------------+

In [98]:
## adding col
df_pys = df_pys.withColumn('Experience After 2 yrs',df_pys['Experience']+2)

In [99]:
df_pys.withColumn('Experience After 2 yrs',df_pys['Experience']+2).show()

+------+---+----------+----------------------+
|  Name|Age|Experience|Experience After 2 yrs|
+------+---+----------+----------------------+
|   Dan| 24|        10|                    12|
|Drake | 25|         8|                    10|
|  Remy| 33|         4|                     6|
|Ashley| 21|         2|                     4|
|  Tana| 70|         7|                     9|
|Johnny| 19|         5|                     7|
|Connor| 38|         9|                    11|
+------+---+----------+----------------------+

In [100]:
df_pys.show()

+------+---+----------+----------------------+
|  Name|Age|Experience|Experience After 2 yrs|
+------+---+----------+----------------------+
|   Dan| 24|        10|                    12|
|Drake | 25|         8|                    10|
|  Remy| 33|         4|                     6|
|Ashley| 21|         2|                     4|
|  Tana| 70|         7|                     9|
|Johnny| 19|         5|                     7|
|Connor| 38|         9|                    11|
+------+---+----------+----------------------+

In [101]:
##drop col
df_pys = df_pys.drop('Experience After 2 yrs')

In [103]:
df_pys.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|   Dan| 24|        10|
|Drake | 25|         8|
|  Remy| 33|         4|
|Ashley| 21|         2|
|  Tana| 70|         7|
|Johnny| 19|         5|
|Connor| 38|         9|
+------+---+----------+

In [104]:
##rename the col
df_pys.withColumnRenamed('Name','New Name')

DataFrame[New Name: string, Age: int, Experience: int]

In [105]:
df_pys.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|     Dan| 24|        10|
|  Drake | 25|         8|
|    Remy| 33|         4|
|  Ashley| 21|         2|
|    Tana| 70|         7|
|  Johnny| 19|         5|
|  Connor| 38|         9|
+--------+---+----------+