In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test3').getOrCreate()

In [6]:
spark

In [7]:
df = spark.read.csv('pysparkex.csv', header=True, inferSchema=True)

In [8]:
spark.read.csv('pysparkex.csv', header=True, inferSchema=True).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Dan|  24|        10| 85000|
|Drake |  25|         8| 80000|
|  Remy|  33|         4| 65000|
|Ashley|  21|         2| 75000|
|  Tana|  70|         7| 96000|
|Johnny|  19|         5|100000|
|Connor|  38|         9| 99000|
|Hailey|null|      null|110000|
|  null|  22|         6| 50000|
|  null|  10|      null|  null|
+------+----+----------+------+

In [10]:
#drop the col
df.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  24|        10| 85000|
|  25|         8| 80000|
|  33|         4| 65000|
|  21|         2| 75000|
|  70|         7| 96000|
|  19|         5|100000|
|  38|         9| 99000|
|null|      null|110000|
|  22|         6| 50000|
|  10|      null|  null|
+----+----------+------+

In [11]:
#drop row
df.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Dan| 24|        10| 85000|
|Drake | 25|         8| 80000|
|  Remy| 33|         4| 65000|
|Ashley| 21|         2| 75000|
|  Tana| 70|         7| 96000|
|Johnny| 19|         5|100000|
|Connor| 38|         9| 99000|
+------+---+----------+------+

In [13]:
#drops all values
#how -> any is any null values
df.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Dan| 24|        10| 85000|
|Drake | 25|         8| 80000|
|  Remy| 33|         4| 65000|
|Ashley| 21|         2| 75000|
|  Tana| 70|         7| 96000|
|Johnny| 19|         5|100000|
|Connor| 38|         9| 99000|
+------+---+----------+------+

In [14]:
#thresh num at least 2 or more nulls in row
df.na.drop(how='any',thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Dan|  24|        10| 85000|
|Drake |  25|         8| 80000|
|  Remy|  33|         4| 65000|
|Ashley|  21|         2| 75000|
|  Tana|  70|         7| 96000|
|Johnny|  19|         5|100000|
|Connor|  38|         9| 99000|
|Hailey|null|      null|110000|
|  null|  22|         6| 50000|
+------+----+----------+------+

In [15]:
df.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Dan|  24|        10| 85000|
|Drake |  25|         8| 80000|
|  Remy|  33|         4| 65000|
|Ashley|  21|         2| 75000|
|  Tana|  70|         7| 96000|
|Johnny|  19|         5|100000|
|Connor|  38|         9| 99000|
|Hailey|null|      null|110000|
|  null|  22|         6| 50000|
|  null|  10|      null|  null|
+------+----+----------+------+

In [16]:
#subset
df.na.drop(how='any', subset=['Experience']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Dan| 24|        10| 85000|
|Drake | 25|         8| 80000|
|  Remy| 33|         4| 65000|
|Ashley| 21|         2| 75000|
|  Tana| 70|         7| 96000|
|Johnny| 19|         5|100000|
|Connor| 38|         9| 99000|
|  null| 22|         6| 50000|
+------+---+----------+------+

In [34]:
#fill missing values
df.na.fill("?").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Dan|  24|        10| 85000|
|Drake |  25|         8| 80000|
|  Remy|  33|         4| 65000|
|Ashley|  21|         2| 75000|
|  Tana|  70|         7| 96000|
|Johnny|  19|         5|100000|
|Connor|  38|         9| 99000|
|Hailey|null|      null|110000|
|     ?|  22|         6| 50000|
|     ?|  10|      null|  null|
+------+----+----------+------+

In [40]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age', 'Experience', 'Salary']]).setStrategy('mean')

In [41]:
#add imputation cols to df
imputer.fit(df).transform(df).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|   Dan|  24|        10| 85000|         24|                10|         85000|
|Drake |  25|         8| 80000|         25|                 8|         80000|
|  Remy|  33|         4| 65000|         33|                 4|         65000|
|Ashley|  21|         2| 75000|         21|                 2|         75000|
|  Tana|  70|         7| 96000|         70|                 7|         96000|
|Johnny|  19|         5|100000|         19|                 5|        100000|
|Connor|  38|         9| 99000|         38|                 9|         99000|
|Hailey|null|      null|110000|         29|                 6|        110000|
|  null|  22|         6| 50000|         22|                 6|         50000|
|  null|  10|      null|  null|         10|                 6|         84444|
+------+----+----------+------+-----------+------------------+--------------+